<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vue.js Poster Shop</title>
    <meta name="referrer" content="never" />
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
<div id="app">
    <div class="header">
        <h1>Vue.js Poster Store</h1>
        <form class="searchbar" v-on:submit.prevent="onSubmit">
            <input v-model="newSearch" placeholder="Search for posters">
            <input type="submit" value="Search" class="btn">
        </form>
    </div>
    <div class="main">
        <div class="products">
            <div v-if="loading">Loading...</div>
            <div v-else class="search-results">
                Found {{ results.length }} results for search term <span class="search-term">{{ lastSearch }}</span>.
            </div>
            <div class="product" v-for="(item, index) in items">
                <div>
                    <div class="product-image">
                        <img v-bind:src="item.link">
                    </div>
                </div>
                <div>
                    <h4 class="product-title">{{ item.title }}</h4>
                    <p>Price: <strong>{{ price | currency }}</strong></p>
                    <button v-on:click="addItem(index)" class="add-to-cart btn">Add to cart</button>
                </div>
            </div>
            <div id="product-list-bottom">
                <div v-if="results.length === items.length && results.length > 0">No more items.</div>
            </div>
        </div>
        <div class="cart">
            <h2>Shopping Cart</h2>
            <transition-group name="fade" tag="ul">
                <li class="cart-item" v-for="item in cart" v-bind:key="item.id">
                    <div class="item-title">{{ item.title }}</div>
                    <div class="item-price">
                        <span class="item-qty">
                            {{ item.price | currency }} x {{ item.qty }}
                        </span>
                        <button v-on:click="inc(item)" class="btn">+</button>
                        <button v-on:click="dec(item)" class="btn">-</button>
                    </div>
                </li>
            </transition-group>
            <transition name="fade">
                <div v-if="cart.length">
                    <div>Total: <strong>{{ total | currency }}</strong></div>
                </div>
            </transition>
            <div v-if="!cart.length" class="empty-cart">
                No items in the cart.
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/reload/reload.js"></script>
<script src="/node_modules/vue/dist/vue.js"></script>
<script src="/node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="/node_modules/scrollmonitor/scrollMonitor.js"></script>
<script type="text/javascript" src="/public/script.js"></script>

</body>
</html>
